@import "tailwindcss";

/* Apple 风字体 */

body {
  margin: 0;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "SF Pro Text",
    system-ui,
    sans-serif;

  -webkit-font-smoothing: antialiased;
}